<a href="https://colab.research.google.com/github/Minorito/CursoPandas/blob/main/Criando_Estruturas_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [135]:
import pandas as pd

#Series

In [136]:
data = [1, 2, 3, 4, 5]

In [137]:
s = pd.Series(data)

In [138]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [139]:
index = ['Linha' + str(i) for i in range(5)]

In [140]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [141]:
s = pd.Series(data=data, index=index)

In [142]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [143]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [144]:
s = pd.Series(data)

In [145]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [146]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

In [147]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

In [148]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [149]:
df1 = pd.DataFrame(data=data)

In [150]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [151]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [152]:
df1 = pd.DataFrame(data=data, index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [153]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [154]:
df1 = pd.DataFrame(data=data, index=index, columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [155]:
data = {'Coluna0' : {'Linha0':1, 'Linha1':4, 'Linha2':7},
        'Coluna1' : {'Linha0':2, 'Linha1':5, 'Linha2':8},
        'Coluna2' : {'Linha0':3, 'Linha1':6, 'Linha2':9}}

In [156]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [157]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [158]:
data = [(1, 2, 3),
        (4, 5, 6),
        (7, 8, 9)] #Lista de Tuplas

In [159]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [160]:
df3 = pd.DataFrame(data=data, index=index, columns=columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [161]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [162]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [163]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [165]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [166]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C