<a href="https://colab.research.google.com/github/Minorito/CursoPandas/blob/main/Selecoes%26Frequencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relatório de Análise IV

## Seleções e Frequências

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [ ]:
# Selecione somente osimóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [ ]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio ' e 'Casa de Vila'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [ ]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo limites
# 60<= Area <= 100
selecao = (dados['Area']>= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8736

In [ ]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos']>= 4) & (dados['Valor'] <= 2000)
n4 = dados[selecao].shape[0]
n4

60

In [ ]:
print("Nº imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº imóveis classificados com tipos 'Casa', 'Casa de Condomínio ' e 'Casa de Vila' -> {}".format(n2))
print("Nº imóveis com área entre 60 e 100 metros quadrados, incluindo limites -> {}".format(n3))
print("Nº imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº imóveis classificados com tipo 'Apartamento' -> 19532
Nº imóveis classificados com tipos 'Casa', 'Casa de Condomínio ' e 'Casa de Vila' -> 2212
Nº imóveis com área entre 60 e 100 metros quadrados, incluindo limites -> 8736
Nº imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 60